* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}

html {
    font-size: 100%; /* default browser "font-size:16px" */
}

:root {
    --primary-clr: #058f34;
    --secondary-clr: #ef0d0d;
    --bg-clr: #050505;
    --white-clr: #fff;
    --black-clr: #000;
    --input-bg-clr: #f2f2f2;
    --input-bg-clr-2: #cccccc;
    --border-clr: #141414;
}

/* -------------------------
  Global Styles
----------------------------*/
body {
    font-weight: 400;
    font-size: 1.15rem;
    transition: all 0.15s linear;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.justify-end {
    justify-content: flex-end;
}

/* -------------------------
  Common Styles
----------------------------*/
.landing-page-container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--black-clr);
    color: var(--white-clr);
    transition: all 0.15s linear;
    padding: 5rem 2rem;
}
.page-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--input-bg-clr);
}
.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.menu .item .link {
    cursor: pointer;
    font-size: 1.1rem;
    background-color: transparent;
    outline: none;
    display: inline-block;
    text-transform: capitalize;
    padding: 0.55rem 1.5rem;
    border-radius: 1.35rem;
    border: 1px solid var(--white-clr);
    color: var(--white-clr);
}
/* 
.modal-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-wrapper .modal-content {
    width: 100%;
    display: flex;
    justify-content: center;
} */
.form-card {
    background-color: var(--white-clr);
    padding: 2.5rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--black-clr);
    width: 100%;
    max-width: 21.875rem;
}
.form-card .form-title {
    font-size: 1.15rem;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 1.25rem;
}
.form-card form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-card form .input-row {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1.25rem;
}
.form-card form .input-row .indicator {
    font-size: 0.75rem;
    text-transform: capitalize;
    background-color: var(--input-bg-clr-2);
    width: 4.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.35rem;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.d-none {
    display: none;
}
.form-card form .input-row input,
.input {
    font-size: 1rem;
    padding: 0.875rem 1rem;
    text-transform: capitalize;
    color: var(--black-clr);
    background-color: var(--input-bg-clr);
    border: none;
    outline: none;
}
.form-card form .input-row .error {
    font-size: 0.75rem;
    text-transform: capitalize;
    margin-top: 0.35rem;
    color: var(--secondary-clr);
}
.form-card form .submit {
    background-color: var(--bg-clr);
    color: var(--white-clr);
    text-transform: capitalize;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s linear;
    border: none;
    outline: none;
}
.form-card form .submit:hover {
    background-color: var(--bg-clr);
}
.form-card form .submit:disabled {
    background-color: var(--input-bg-clr);
    cursor: not-allowed;
    color: #676767;
}
.form-card .home-row {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
}
.form-card .home-row > a {
    font-size: 0.9rem;
    color: var(--black-clr);
    text-transform: capitalize;
    transition: all 0.3s linear;
}
.form-card .home-row > a:hover {
    color: var(--secondary-clr);
    text-decoration: underline;
}
/* ----------------------
Main Menu Style
-------------------------*/
.main-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}

.filter-bar .menu .item .link {
    color: var(--secondary-clr);
    border-color: var(--secondary-clr);
}
.filter-bar .menu .item .link.active {
    color: var(--primary-clr);
    border-color: var(--primary-clr);
}

/* ----------------------
  Animal List Style
-------------------------*/
.animal-list {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    row-gap: 2.75rem;
    column-gap: 1.75rem;
}

.animal-card .img-container {
    width: 10rem;
    height: 11.935rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-clr);
    background-color: var(--bg-clr);
    border-radius: 0.5rem;
}

.animal-card .card-title {
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 1.125rem;
    text-align: center;
    letter-spacing: 0.5px;
}
