* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}

html {
    font-size: 100%; /* default browser "font-size:16px" */
}

:root {
    --primary-clr: #058f34;
    --secondary-clr: #ef0d0d;
    --bg-clr: #050505;
    --white-clr: #fff;
    --black-clr: #000;
    --input-bg-clr: #f2f2f2;
    --input-bg-clr-2: #cccccc;
    --border-clr: #141414;
}

/* -------------------------
  Common Styles
----------------------------*/
body {
    font-size: 1.125rem;
    color: var(--white-clr);
    background-color: var(--black-clr);
}
